name: A simple test workflow

on: [push]

jobs:
  unit-test:
    runs-on: ubuntu-latest
    steps:
      - run: "echo 'Running tests on: ${{ runner.os }}'"
      - run: "echo 'Repo: ${{ github.ref }}'"
      - run: "echo 'Branch: ${{ github.ref }}'"
      
